body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color:lightblue;
    color: white;
}

a {
    color: white;
}

.header {
    height: 65px;
    margin-top: 25px;
    text-align: center;
    font-size: 24px;
}

.banner {
    background: url(diamond.jpg);
    background-size: cover;
    width: auto;
    height: 400px;
    text-align: center;
    font-size: 52px;
    padding-top: 75px;
    color: white;
}

.content {
    min-height: 500px;
    padding: 50px;
    font-size: 18px;
    background-color: white;
    color: black;
}

.footer {
    width: 100%;
    height: 120px;
    padding: 50px;
    text-align: center;
    font-size: 20px;
     color:lightcoral;
}

.button {
    text-align: center;
    background-color:lightpink;
    color: white;
    margin-left: 43%;
    margin-right: 43%;
    padding: 25px;
}
