header{
    background:white;
    padding:15px;
}
header >h1 {
    color:black;
    font-weight:bold;
    text-align: center;
}
.user{
    text-align:center;
}

.board{
    text-align:center;
    border:3px solid black;
    width:20%;
    margin:15px auto;
    position:relative;
    border-radius: 0in;
    padding:10px;
    font-weight:bold;
}
.badge{
    background:red;
    color:white;
    padding:2px 10px;
}

#user{
    position:absolute;
    top:10px;
    left:-20px;
}

#comp{
    position:absolute;
    top:10px;
    right:-20px;
}

.message{
    margin:10px;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
}

.image{
    padding:10px;
    margin:10px;
    border: 1px solid black;
    display:inline-block;
    border-radius:50%;
}

.images{
    text-align:center;
}

.event{
    text-align:center;
}

body{
    background:seagreen;
}