#board{
    border:1px solid black;
    background-color:lightgray;
    height:350px;
    width:650px;
}

.character{
    background:url("Guest.jpg");
    background-size:cover;
    width:120px;
    height:120px;
    padding:10px;
    margin:10px;
    float:left
}

#btn{
    size:normal;
    margin:5px;
    padding:5px;
    background-color:blue;
    font-size:7;

}

.hidden {
    display:none;
}

.visible {
    display:block;
}

.thief {
    background:url("Thief.jpg");
    background-size:cover;
}
